h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(66, 19, 110);
    background-color: rgb(120, 26, 207);
}

button{
    background-color: rgb(244, 130, 248);
    border-radius: 20px;
   display: block;
   margin: 0 auto;
   


}

body{
    background-color: rgb(171, 89, 248);
}

h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blueviolet;
    color: rgb(66, 19, 110);
}

footer{
    text-align: center;
    background-color: blueviolet;
    border-style: ridge;border-color: rgb(38, 16, 59);
    margin-top: 40px;
    color: rgb(66, 19, 110);
    border-radius: 10cap;
}

